/*Урок подготовлен web-студией roothelp.ru*/

/*******************************************
******************* HEDER ***************
*******************************************/
header{
	width:100%;
	background-color:#6eaaff;
}

#logo{
	display:table-cell;
}

#lesson-title{
	width:100%;
	text-align:center;
	vertical-align:middle;
	display:table-cell;
}

#rh_title{
	color:gold;
	font-size:24px;
}

#rh_webstudia{
	color:white;
	font-size:14px;
}

/*******************************************
****************** CONTENT ***************
*******************************************/
#content{
	/*width:800px;*/
	margin:0 auto;
}

/*******************************************
******************* LESSON ***************
*******************************************/
#drop-zone{
	/*width: 250px; */
    /*line-height: 300px;*/
    /* margin: 30px auto;*/ 
    position: relative;
    text-align: center;
    background-color: #2a2a2a;
}

#drop-zone .text{
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
	vertical-align:middle;
}

#drop-zone.success{
	 background-color:#00ff19; 
}

#drop-zone.error{
	background-color:#e74c3c;
}

#file{
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	cursor: pointer;
}

#file2{
	width: 28px;
    height: 30px;
    display: block;
    position: unset;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    margin-top: -25px;
    margin-left: -5px;
}
}

#showUpFile{
	width:250px;
	 margin:0 auto; 
}

#showUpFile img{
	max-width:500px;
}